---
layout: archive
title: "My favorite textbooks and resources"
permalink: /resources/
author_profile: true
redirect_from:
  - /resources
---
{% include base_path %}

<!-- <h1 class="text-3xl font-bold text-center mb-8 text-black">My Favorite Textbooks and Resources</h1> -->

<div class="space-y-8">
  {% assign grouped_resources = site.data.resources | group_by: "section" %}
  {% for group in grouped_resources %}
    <section>
      <h2 class="text-xl text-black mb-4 uppercase">{{ group.name }}</h2>
      <hr class="my-4 border-t border-gray-300" />

      <ul class="list-disc pl-5 space-y-2">
        {% for resource in group.items %}
          <li>
            <p class="text-md">
              <strong>{{ resource.title }}</strong>. <i>{{ resource.author }}</i>. 
              {% if resource.edition %}{{ resource.edition }} edition, {% endif %}
              {{ resource.year }}. {{ resource.publisher }}.
            </p>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</div>
